# Ignore node_modules in backend folder
/backend/node_modules

# Ignore node_modules in frontend folder
/frontend/node_modules

# Ignore .DS_Store files
.DS_Store

# Ignore .gitignore files
.gitignore